.layout {
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-areas:
        'header header'
        'nav main';

    & header {
        grid-area: header;
        background-color: #ffffff;
        height: 15vh;
    }

    & nav {
        grid-area: nav;
        background-color: #787878;
        height: 85vh;
    }

    & main {
        grid-area: main;
        background-color: #f0f0f0;
        height: 85vh;
        padding: 35px;
    }

    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        & header {
            height: 15vh;
        }

        & nav {
            height: 5vh;
        }

        & main {
            height: 70vh;
        }
    }
}